/* variables */
/* mixins */
.gb-btn {
  margin: 10px 0;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 25px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 100;
}
.gb-btn:hover,
.gb-btn:active {
  cursor: pointer;
}
.gb-btn--small {
  padding: 5px 10px;
  font-size: 12px;
}
.gb-btn--large {
  padding: 15px 40px;
  font-size: 18px;
}
.gb-btn--default {
  border: 1px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--default:hover {
  border-color: #ffffff;
  background-color: #000000;
  color: #ffffff;
}
.gb-btn--default:active {
  border-color: #e6e6e6;
  background-color: #000000;
  color: #e6e6e6;
}
.gb-btn--default:focus {
  outline: none;
}
.gb-btn--blue {
  border: 1px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--blue:hover {
  border-color: #ffffff;
  background-color: #3498db;
  color: #ffffff;
}
.gb-btn--blue:active {
  border-color: #e6e6e6;
  background-color: #217dbb;
  color: #e6e6e6;
}
.gb-btn--blue:focus {
  outline: none;
}
.gb-btn--purple {
  border: 1px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--purple:hover {
  border-color: #ffffff;
  background-color: #9b59b6;
  color: #ffffff;
}
.gb-btn--purple:active {
  border-color: #e6e6e6;
  background-color: #804399;
  color: #e6e6e6;
}
.gb-btn--purple:focus {
  outline: none;
}
.gb-btn--orange {
  border: 1px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--orange:hover {
  border-color: #ffffff;
  background-color: #e67e22;
  color: #ffffff;
}
.gb-btn--orange:active {
  border-color: #e6e6e6;
  background-color: #bf6516;
  color: #e6e6e6;
}
.gb-btn--orange:focus {
  outline: none;
}
.gb-btn--red {
  border: 1px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--red:hover {
  border-color: #ffffff;
  background-color: #e74c3c;
  color: #ffffff;
}
.gb-btn--red:active {
  border-color: #e6e6e6;
  background-color: #d62c1a;
  color: #e6e6e6;
}
.gb-btn--red:focus {
  outline: none;
}
/* for demonstration purposes only */
.gb-btn--demo1 {
  border: 1px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--demo1:hover {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #1abc9c;
}
.gb-btn--demo1:active {
  border-color: #e6e6e6;
  background-color: #e6e6e6;
  color: #148f77;
}
.gb-btn--demo1:focus {
  outline: none;
}
.gb-btn--demo2 {
  border: 2px solid #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--demo2:hover {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #1abc9c;
}
.gb-btn--demo2:active {
  border-color: #e6e6e6;
  background-color: #e6e6e6;
  color: #148f77;
}
.gb-btn--demo2:focus {
  outline: none;
}
.gb-btn--demo3 {
  border: 3px solid #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--demo3:hover {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #1abc9c;
}
.gb-btn--demo3:active {
  border-color: #e6e6e6;
  background-color: #e6e6e6;
  color: #148f77;
}
.gb-btn--demo3:focus {
  outline: none;
}
