/* variables */
/* mixins */
.gb-btn {
  min-width: 150px;
  min-height: 50px;
  margin: 10px;
  border: 2px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 25px;
}
.gb-btn:hover,
.gb-btn:active {
  cursor: pointer;
}
.gb-btn--default {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--default:hover {
  border-color: #ffffff;
  background-color: #000000;
  color: #ffffff;
}
.gb-btn--default:active {
  border-color: #e6e6e6;
  background-color: #000000;
  color: #e6e6e6;
}
.gb-btn--blue {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--blue:hover {
  border-color: #ffffff;
  background-color: #3498db;
  color: #ffffff;
}
.gb-btn--blue:active {
  border-color: #e6e6e6;
  background-color: #217dbb;
  color: #e6e6e6;
}
.gb-btn--purple {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--purple:hover {
  border-color: #ffffff;
  background-color: #9b59b6;
  color: #ffffff;
}
.gb-btn--purple:active {
  border-color: #e6e6e6;
  background-color: #804399;
  color: #e6e6e6;
}
.gb-btn--orange {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--orange:hover {
  border-color: #ffffff;
  background-color: #e67e22;
  color: #ffffff;
}
.gb-btn--orange:active {
  border-color: #e6e6e6;
  background-color: #bf6516;
  color: #e6e6e6;
}
.gb-btn--red {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.gb-btn--red:hover {
  border-color: #ffffff;
  background-color: #e74c3c;
  color: #ffffff;
}
.gb-btn--red:active {
  border-color: #e6e6e6;
  background-color: #d62c1a;
  color: #e6e6e6;
}
